<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- My Style Sheet -->
    <link rel="stylesheet" href="static/css/styles.css">

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/1daa85e057.js" crossorigin="anonymous"></script>


     <!-- Optional JavaScript; choose one of the two! -->

      <!-- Option 1: Bootstrap Bundle with Popper -->
<!--          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <!--    -->



    <title>mato</title>
  </head>


  <section id="title">
    <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
        <a class="navbar-brand" href="#mato">mat<i class="far fa-dot-circle"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#analysis">Analysis</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#skills">Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#careers">Careers</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="#publications">Publications</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


  <!-- Title -->
      <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 text-center">
          <h1>C++ = (C--) + (B++)</h1>

         <div>
           <a href="#mato">
            <img class="img-mato" src="static/images/mato1.png" alt="mato-img">
             </a>
         </div>
            <a href="#equation" class="btn btn-lg btn-outline-secondary" >What does it mean?</a>
        </div>

          <div class="col-lg-6">
            <img class="img-network" src="static/images/DeafeningComplicatedBluetonguelizard-max-1mb.gif" alt="3brown1blue">
          </div>
      </div>
    </div>
  </section>


  <!-- About Section -->
  <section id="about">
    <div>
      <p>
        I have been applying unsupervised machine learning algorithms for anomaly detection on network data. It is challenging
        when labels are not available. However, it is interesting to develop self-supervised models. Currently, I am working
        on a host profiling system for classifying hosts' network behaviours. The aim is to apply the profile for anomaly
        detection. Besides analysing network data, I am interested in computer vision and have built a few toy models.
        I am still trying to figure out what I want to develop with computer vision. I am hopeful I will create something
        extraordinary in the future.

        <span id="equation">The equation C++ = (C--) + (B++) is a formula for calculating the score for my project. Technology is always
        changing, so continuous learning is critical. There are so many talented programmers; therefore, it is silly to compare
        me to them. I  believe that there is always room for improvement, so I think my programming skills are C--. Besides
        programming skills, another key ingredient to creating a nice system is imagination. I just so happen to have a B++
        imagination, which is not too shabby. I would not dare to put myself on the A list alongside Issac Newton, Albert Einstein,
        and Marie Curie because I am too little to carry too much pressure. Nonetheless, when I sum up my programming skills and imagination,
        I got a score of C++. It may not look impressive on a scorecard, but my project can be impressive
            if you look at it from the right angle.</span>
      </p>
    </div>
  </section>

<!-- Mato Section -->
  <section id="mato">
      <div class="mato-eq">
          <p class="mato-eq-all mato-text" onmouseenter="toggleShow('image1');" >Mato</p>
                    <p class="mato-eq-all"><img class="img-toggle" style="display:none;" id="image1" src="static/images/mato2.png" class="img-fluid" alt="Responsive image">&nbsp</p>
                    <p class="mato-eq-all">&nbsp <i class="fas fa-not-equal"></i>&nbsp &nbsp</p>
          <p class="mato-eq-all mato-text" onmouseenter="toggleShow('image2');" >Tomato &nbsp</p>
                    <p class="mato-eq-all"><img class="img-toggle" style="display:none;" id="image2" src="static/images/tomato.png" class="img-fluid" alt="Responsive image"></p>
      </div>
        <div style="clear:both;"></div>
      <p>
        Mato came from a planet named Smar, accidentally discovered when
        a group of astronauts was going to Mars. However, they realized that Smar was more habitable than Mars,
        so scientists and engineers were sent to Smar from the Earth. The climate and temperate are perfect for growing
        tomatoes, so tomatoes became one of the leading food sources. A scientist named Ko, who always comes out with
        crazy ideas, proposed to other scientists and engineers about making bright tomatoes as pets on a lunch break.
        As usual, they all laughed and thought she was crazy. Despite other scientists discouragement, she started to
        design an artificial brain for the tomato. She managed to ask a couple of engineers to build it. After a series
        of trial and error, she produced tomatoes that could do some basic movements.  She kept improving the algorithm
        and increased the size of the artificial brain to host more functionalities. Finally, model number 888,
        abbreviated as m-888, was brilliant. She called it "Mato" to distinguish it from a less intelligent tomato.
        All the other tomatoes run on the battery. However, she soon realized that Mato needs to self-generate energy.
        Hence, she designed an artificial digestion system to convert food into energy to power Mato's brain. Since Mato
        learns very quickly and has a lot of curiosity. He likes to ask, "What does it mean?" when he first started
        learning. Mato asked the scientist what he is and how he was created. He also asked why, when and where they were
        from. She told him about the Earth, and Mato became very interested in the Earth. He told the scientist that he
        wanted to go to the Earth. She asked the engineers to design and create a Matorcycle for him to travel to the
        Earth. He put on his specially designed helmet, waved goodbye to her and the scientists and engineers, hop on
        his Motorcycle, and started his journey to Earth. The landing on the Earth was not so smooth, so his Matorcycle
        was damaged. After he arrived on the Earth, he was very amazed by how different it is from Smar. He was eager to
        learn about the Earth.

      </p>
  </section>


  <section id="analysis">
    <h1 class="dashboard">Network Traffic Analysis Sample</h1>
      <img class="img-analysis mx-auto d-block" src="https://media.giphy.com/media/dWesBcTLavkZuG35MI/giphy.gif">
    <div class="col-md-12 text-center">
      <a class="btn btn-lg btn-dark btn-dashboard" href="{{ url_for('dashboard') }}">Go to Dashboard</a>
    </div>
  </section>

  <!-- Skills Section -->
  <section id="skills">
    <img class="img-skills mx-auto d-block" src="static/images/grey-scale.png">
    <div class="row">
      <div class="skill-box col-lg-4">
        <i class="icon fas fa-laptop fa-3x"></i>
        <h3>Programming</h3>
        <p><span class="short-term">Python</span>, <span class="long-term">Java</span>, <span class="distant">Java Script, C++</span></p>
      </div>

      <div class="skill-box col-lg-4">
        <i class="icon far fa-chart-bar fa-3x"></i>
         <h3>Data Analysis</h3>
        <p><span class="short-term">Pandas, Keras, Machine Learning, Deep Learning, Plotly, Matplot, Seaborn</span>,
          <span class="long-term"> OpenCV, R, Tableau</span>
       </p>
      </div>

      <div class="skill-box col-lg-4">
        <i class="icon fas fa-crosshairs fa-3x"></i>
        <h3>Other Skills</h3>
        <p><span class="short-term">Flask, Git, Illustrator, Heroku</span>, <span class="long-term">Spark, Docker, REST API,</span>
         <span class="distant">AWS</span></p>
      </div>
    </div>
  </section>


  <!-- Projects -->
  <section id="careers">
      <h4 class="career-eq">Career Evoluation</h4>
    <div class="career-evolution">
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 28%">Reatil Manager</div>
        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 13%">Data Analyst</div>
        <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">Research ML Engineer</div>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 20%">Security Researcher</div>
      </div>
       <p  class="current-project">
         I am currently working on a self-supervised hybrid ensemble machine learning for a host profiling system. The entire system includes
         a data processor, a feature extractor, a feature selector, a hybrid ensemble model, a risk calculator, and a label analyzer. The system
         is an X-AI model because it provides information for significant features and generates information on labels in natural language.
       </p>
    </div>
  </section>

  <section id="publications">
      <div id="publications-carousel" class="carousel slide" data-ride="false" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h4 class="publications-h4">Recurrent Autonomous Autoencoder for Intelligent DDoS Attack Mitigation within the ISP Domain</h4>
          <img class="img-projects" src="static/images/raa.jpg" class="d-block w-100" alt="...">
          <div class="publications-popover">
              <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Abstract" data-bs-content=" The RAA is a target-driven, distributionenabled, and imbalanced clustering algorithm, which is designed to work with the ISP's blackholing mechanism for DDoS flood attack mitigation. It can dynamically select features, decide a reference target (RT), and determine an optimal threshold to classify network traffic. A novel Comparison-Max Random Walk algorithm is used to determine the RT, which is used as an instrument to direct the model to classify the data so that the predicted positives are close or equal to the RT. We also propose Estimated Evaluation Metrics (EEM) to evaluate the performance of unsupervised models.">Preview part of the abstract</a>
          </div>
        </div>
        <div class="carousel-item">
           <h4>Adaptable Feature-Selecting and Threshold-Moving Complete Autoencoder for DDoS Flood Mitigation</h4>
          <img class="img-projects" src="static/images/iam.jpg" class="d-block w-100" alt="...">
           <div class="publications-popover">
          <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Abstract" data-bs-content="Therefore, we propose a dynamic learning system (DLS) for the ISP. The DLS is an unsupervised ensemble model using the Complete Autoencoder (CA) as base learners to classify network traffic. The utmost difference between the CA and the regular Autoencoder is that the CA exploits the imbalanced characteristic of the attack data to generate a binary classification via a class switch. When the predicted number of normal IP addresses is over 50% of the total IP addresses, the CA swaps the class of the IP addresses. The CA is directed by a reference object (RO), which is either a reference limit or the mean of a reference error function, to furnish the automation to the DLS.">Preview part of the abstrat</a>
           </div>
        </div>
        <div class="carousel-item">
           <h4>Self-Supervised Network Traffic Management for DDoS Mitigation within the ISP Domain</h4>
          <img class="img-projects" src="static/images/ensemble.jpg" class="d-block w-100" alt="...">
           <div class="publications-popover">
          <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Abstract" data-bs-content="The Netflow Classifier is a hybrid ensemble model that utilises both unsupervised and supervised learning techniques. The classifier employs two self-organising maps (SOMs) to label data to train a supervised ensemble unit, which includes Random Forests, Decision Trees, and Gradient Boosted Trees (SRDG), to get the final classification. The Netflow Classifier achieved over 96% average on recall, precision and F1 score on UDP flood, ICMP flood and TCP flood attack data sets.">Preview part of the abstract</a>
           </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#publications-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#publications-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </section>

  <section id="contact">
      <div class="contact-info">
        <img class="img-email" src="https://media.giphy.com/media/2wWBH0vXsVUmKtRJOe/giphy.gif">
        <span > mato.ko.888@gmail.com</span><br>
  </section>

   <footer class="copyright"> &#169; Copyright 2021 mato</footer>

 <!-- for popover -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>

  <script>
      var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
      var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
          return new bootstrap.Popover(popoverTriggerEl)
      })
      var popover = new bootstrap.Popover(document.querySelector('.example-popover'), {
        container: 'body'
      })

      var popover = new bootstrap.Popover(document.querySelector('.popover-dismiss'), {
        trigger: 'focus'
      })
  </script>


  <script>
      function toggleShow(elementId) {
      let el = document.getElementById(elementId);
      el.style.display = "block";
      }

      function toggleHide(elementId) {
        let el = document.getElementById(elementId);
        el.style.display = "none";
      }
  </script>

  </body>



</html>
